.main-page
    display: grid
    grid-template-areas: 'indent dishes search'
    grid-template-columns: 25% 40% 40%

    &__left-indent
        grid-area: indent

    &__dishes-column
        grid-area: dishes
        color: #fff
    
    &__bucket_column
        grid-area: search