@use './MenuPage.sass'
@use './DishPage.sass'
@use './HomePage.sass'
@use './Header.sass'
@use './DishCard.sass'
@use './Breadcrumbs.sass'
@use './Auth.sass'

*
  margin: 0
  padding: 0

body
  background-color: #000
  overflow-x: hidden