@use 'pages/MenuPage/MainPage.sass'
@use 'pages/DishPage/DishPage.sass'
@use 'pages/HomePage/HomePage.sass'
@use 'components/Header/Header.sass'
@use 'components/DishCard/DishCard.sass'
@use 'components/Breadcrumbs/Breadcrumbs.sass'

*
  margin: 0
  padding: 0

body
  background-color: #000
  overflow-x: hidden